<main>
  <section class="about">
    <h2 id="about"></h2>
  </section>
  <section class="contact">
    <div class="location">
      <h2>Location</h2>
      <p id="loc"></p>
    </div>
    <div class="email">
      <h2>Email</h2>
      <p id="email"></p>
    </div>
    <div class="phone">
      <h2>Phone No.</h2>
      <p id="phone"></p>
    </div>
  </section>
  <section class="programmes">
    <h2>Programmes Offered:</h2>
    <div class="programme"></div>
  </section>
</main>
